@import '../../App.scss';

.blog-cont{
  box-sizing: border-box;
  width: 80%;
  min-height: 83vh;
  margin: 0 auto;
  padding: 30px ;
  display: grid;
  grid-template-columns: 3fr 1.2fr;
  grid-auto-rows: auto;
  // background-color: red;

  .post-detail{
    grid-column-end: 2;
    padding: 3% 5%;
    text-align: justify;

    .post-img{
      margin-bottom: 3%;
      width: 100%;
    }
  }

  .post-list{
    border-radius: 20px;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    padding: 5%;

    .post-ele{
      font-size: 1.1rem;
      margin-bottom: 10px;
      cursor: pointer;
      transition: 0.3s;
      color: gray;

      &:hover{
        text-decoration: underline;
        color: $celeste;

      }
    }
  }


}