.nosotros_main{
  width: 80%;
  margin: 0 auto;
}

.list-container{
  background-color:rgba(233, 233, 233, 0);
  // width: 90%;
  margin: 0 auto;
  min-height: 50VH;
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-auto-rows: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 13px;
  margin-bottom: 50px;
  // padding: 1% 2%;
  

  .list-item{
    // width: calc(30% - 10px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    overflow: hidden;

    // min-height: 200px;
    // display: block;
    // position: relative;
    // top: 150%;
    margin: 10px;
    background-color: rgb(38, 46, 160);
    min-height: 200px;
    transition: 0.7s;
    
    .list-item_contain{
      padding: 1% 3%;
      background: rgb(25,25,25);
      background: linear-gradient(9deg, rgba(25, 25, 25, 0.316) 1%, rgba(0, 0, 0, 0.624) 95%);
      height: 99%;
      border-radius: 13px;
      color: white;
      align-items: space-between;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      p{
        opacity: 0;
        // display: none;
        transition: 0.2s;

      }

      &:hover{
        backdrop-filter: blur(4px);


        p{
          opacity: 1;

          display: block;
        }
      }
    }
  }

  p{
    font-size: 0.8rem;
    text-align: justify;
  }

}