@import '../../App.scss';

.navbar{
  // background-color: rgb(15, 10, 155);
  position: sticky !important;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 2;

  .navbar-opc-cont{
    display: flex;
    align-items: center;
    // background-color: yellow;
    margin-right: 30px;
    height: 100%;
    

    .navbar-opc-item{
      margin: 0 10px;
      min-width: 80px;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s;
      text-decoration: none;
      // font-size: 1rem;
      font-weight: 600;

      &:hover{
        color: $azul;
        border-bottom: 5px solid $azul;
      }
    }
  }

}